<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="accordion arrows">
    <header class="box">
        <label for="acc-close" class="box-title">SpringEducation menu</label>
    </header>
    <input type="radio" name="accordion" id="cb1" />
    <section class="box">
        <label class="box-title" for="cb1">Найти клиента</label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">Поиск по id клиента</div>
        <a href="findClientForm" class="box-content button">Поиск</a>
    </section>
    <input type="radio" name="accordion" id="cb2" />
    <section class="box">
        <label class="box-title" for="cb2">Добавить клиента</label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">Добавление нового клиента</div>
        <a href="addClientForm" class="box-content button">Добавить</a>
    </section>
    <input type="radio" name="accordion" id="cb3" />
    <section class="box">
        <label class="box-title" for="cb3">Удалить клиента</label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content">Удаление клиента по id</div>
        <a href="removeClientForm" class="box-content button">Удалить</a>
    </section>

    <input type="radio" name="accordion" id="acc-close" />
</nav>
</body>
</html>